<div class="row">
    <div class="col">
      <div class="accordion" id="temario">
        <div class="accordion-item shadow-lg">
          <h2 class="accordion-header" [id]="encabezado">
            <button
              class="accordion-button collapsed"
              [ngClass]="{ 'collapsed' : id !== 1 }"
              type="button"
              data-bs-toggle="collapse" 
              [attr.data-bs-target]="elementId" 
              [attr.aria-expanded]="id === 1 ? 'true' : 'false'" 
              [attr.aria-controls]="elemento"
            >
              {{ btnStr }}
            </button>
          </h2>
          <div 
            [id]="elemento" 
            class="accordion-collapse collapse"
            [ngClass]="{ 'show' : id === 1 }"
            [attr.aria-labelledby]="encabezado" 
          >
            <div class="accordion-body bg-light">
              <p>{{ body }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  