<div class="b-example-divider"></div>

<div class="container px-4  py-4 text-center" id="custom-cards">

  <!-- <h2 class="py-2 text-bg-dark rounded-4 overflow-hidden">Casos frecuentes</h2> -->

  <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-4">

    <div class="col Animation-active">
      <div (click)="enviarTexto('NECESITO ASESORIA LEGAL')"
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4">
        <div class="d-flex flex-column h-100 p-5 pb-3">
          <h3 class="pt-2 mt-3 mb-2 display-6 lh-1 fw-bold">NECESITO ASESORIA LEGAL</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="assets\0.ico" alt="abogados" width="48" height="48" class="rounded-circle">
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col Animation-active">
      <div (click)="enviarTexto('¿IR A JUICIO O NEGOCIAR?')"
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4">
        <div class="d-flex flex-column h-100 p-5 pb-3">
          <h3 class="pt-2 mt-3 mb-2 display-6 lh-1 fw-bold">¿IR A JUICIO O NEGOCIAR?</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="assets\0.ico" alt="abogados" width="48" height="48" class="rounded-circle">
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col Animation-active">
      <div (click)="enviarTexto('QUIERO DEMANDAR')"
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4">
        <div class="d-flex flex-column h-100 p-5 pb-3">
          <h3 class="pt-2 mt-3 mb-2 display-6 lh-1 fw-bold">QUIERO DEMANDAR</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="assets\0.ico" alt="abogados" width="48" height="48" class="rounded-circle">
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col Animation-active">
      <div (click)="enviarTexto('ME INTIMARON POR CARTA DOCUMENTO')"
        class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4">
        <div class="d-flex flex-column h-100 p-5 pb-3">
          <h3 class="pt-2 mt-3 mb-2 display-6 lh-1 fw-bold">ME INTIMARON POR CARTA DOCUMENTO</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="assets\0.ico" alt="abogados" width="48" height="48" class="rounded-circle">
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>