.container h2 {
    font-weight: bold;
    color: #ffd900bb !important;
    filter: brightness(105%);
    box-shadow: 2px 4px 10px black !important;
}

.container h3 {
    color: #ffd900bb !important;
}

.container .card {
    transition: .3s all;
    opacity: .7;
}

.container .card:hover {
    box-shadow: 5px 5px 20px black !important;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, .8) !important;
    cursor: pointer;
    opacity: 1;
}

.col .card img {
    transition: .1s all;
}

.col:hover .card img {
    width: 58px !important;
    height: 58px !important;
    box-shadow: 0px 0px 12px rgba(73, 73, 73, 0.8) !important;
    filter: brightness(120%);
}