<!-- <div class="row">
    <div class="col">
      <div class="accordion" id="temario">
        <div class="accordion-item shadow-lg">
          <h2 class="accordion-header" [id]="encabezado">
            <button
              class="accordion-button collapsed"
              [ngClass]="{ 'collapsed' : id !== 1 }"
              type="button"
              data-bs-toggle="collapse" 
              [attr.data-bs-target]="elementId" 
              [attr.aria-expanded]="id === 1 ? 'true' : 'false'" 
              [attr.aria-controls]="elemento"
            >
              {{ btnStr }}
            </button>
          </h2>
          <div 
            [id]="elemento" 
            class="accordion-collapse collapse"
            [ngClass]="{ 'show' : id === 1 }"
            [attr.aria-labelledby]="encabezado" 
          >
            <div class="accordion-body bg-light">
              <p>{{ body }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<div class="accordion accordion-flush" id="temario">

  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header" id="encabezado-1">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#elemento-1"
        aria-expanded="true" aria-controles="elemento-1">
        Me intiman por carta documento ¿que plazo tengo para contestar?
      </button>
    </h2>
    <div id="elemento-1" class="accordion-collapse collapse show" aria-labelledby="encabezado-1"
      data-bs-parent="#temario">
      <div class="accordion-body bg-light">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, praesentium animi. Ratione accusamus
          fugit saepe cupiditate omnis accusantium modi adipisci, sunt numquam expedita, ea deleniti aliquid et quas
          voluptatum iusto.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header" id="encabezado-2">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#elemento-2"
        aria-expanded="true" aria-controles="elemento-2">
        Me notificaron de una demanda ¿que plazo tengo para contestar?
      </button>
    </h2>
    <div id="elemento-2" class="accordion-collapse collapse" aria-labelledby="encabezado-2" data-bs-parent="#temario">
      <div class="accordion-body bg-light">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, praesentium animi. Ratione accusamus
          fugit saepe cupiditate omnis accusantium modi adipisci, sunt numquam expedita, ea deleniti aliquid et quas
          voluptatum iusto.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header" id="encabezado-3">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#elemento-3"
        aria-expanded="true" aria-controles="elemento-3">
        Me llego un oficio ¿Que es y que significa?
      </button>
    </h2>
    <div id="elemento-3" class="accordion-collapse collapse" aria-labelledby="encabezado-3" data-bs-parent="#temario">
      <div class="accordion-body bg-light">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, praesentium animi. Ratione accusamus
          fugit saepe cupiditate omnis accusantium modi adipisci, sunt numquam expedita, ea deleniti aliquid et quas
          voluptatum iusto.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header" id="encabezado-4">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#elemento-4"
        aria-expanded="true" aria-controles="elemento-4">
        Me notificaron por cedula ¿Que hago?
      </button>
    </h2>
    <div id="elemento-4" class="accordion-collapse collapse" aria-labelledby="encabezado-4" data-bs-parent="#temario">
      <div class="accordion-body bg-light">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, praesentium animi. Ratione accusamus
          fugit saepe cupiditate omnis accusantium modi adipisci, sunt numquam expedita, ea deleniti aliquid et quas
          voluptatum iusto.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header" id="encabezado-5">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#elemento-5"
        aria-expanded="true" aria-controles="elemento-5">
        Puedo reclamar por no estar registrado en blanco
      </button>
    </h2>
    <div id="elemento-5" class="accordion-collapse collapse" aria-labelledby="encabezado-5" data-bs-parent="#temario">
      <div class="accordion-body bg-light">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, praesentium animi. Ratione accusamus
          fugit saepe cupiditate omnis accusantium modi adipisci, sunt numquam expedita, ea deleniti aliquid et quas
          voluptatum iusto.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header" id="encabezado-6">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#elemento-6"
        aria-expanded="true" aria-controles="elemento-6">
        ¿Puedo reclamar si me lesiono en la via publica?
      </button>
    </h2>
    <div id="elemento-6" class="accordion-collapse collapse" aria-labelledby="encabezado-6" data-bs-parent="#temario">
      <div class="accordion-body bg-light">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, praesentium animi. Ratione accusamus
          fugit saepe cupiditate omnis accusantium modi adipisci, sunt numquam expedita, ea deleniti aliquid et quas
          voluptatum iusto.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header" id="encabezado-7">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#elemento-7"
        aria-expanded="true" aria-controles="elemento-7">
        Si tengo un accidente de transito contra una persona que no tiene seguro, ¿que hago?
      </button>
    </h2>
    <div id="elemento-7" class="accordion-collapse collapse" aria-labelledby="encabezado-7" data-bs-parent="#temario">
      <div class="accordion-body bg-light">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, praesentium animi. Ratione accusamus
          fugit saepe cupiditate omnis accusantium modi adipisci, sunt numquam expedita, ea deleniti aliquid et quas
          voluptatum iusto.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header" id="encabezado-8">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#elemento-8"
        aria-expanded="true" aria-controles="elemento-8">
        ¿Que hago si mi empleador me bliga a firmar la renuncia?
      </button>
    </h2>
    <div id="elemento-8" class="accordion-collapse collapse" aria-labelledby="encabezado-8" data-bs-parent="#temario">
      <div class="accordion-body bg-light">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, praesentium animi. Ratione accusamus
          fugit saepe cupiditate omnis accusantium modi adipisci, sunt numquam expedita, ea deleniti aliquid et quas
          voluptatum iusto.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header" id="encabezado-9">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#elemento-9"
        aria-expanded="true" aria-controles="elemento-9">
        Estuve varios meses en negro, ¿puedo sacar algun beneficio?
      </button>
    </h2>
    <div id="elemento-9" class="accordion-collapse collapse" aria-labelledby="encabezado-9" data-bs-parent="#temario">
      <div class="accordion-body bg-light">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, praesentium animi. Ratione accusamus
          fugit saepe cupiditate omnis accusantium modi adipisci, sunt numquam expedita, ea deleniti aliquid et quas
          voluptatum iusto.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header" id="encabezado-10">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#elemento-10"
        aria-expanded="true" aria-controles="elemento-10">
        Mi empleador cambio mis funciones sin mi consentimiento ¿Que puedo hacer?
      </button>
    </h2>
    <div id="elemento-10" class="accordion-collapse collapse" aria-labelledby="encabezado-10" data-bs-parent="#temario">
      <div class="accordion-body bg-light">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, praesentium animi. Ratione accusamus
          fugit saepe cupiditate omnis accusantium modi adipisci, sunt numquam expedita, ea deleniti aliquid et quas
          voluptatum iusto.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header" id="encabezado-11">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#elemento-11"
        aria-expanded="true" aria-controles="elemento-11">
        ¿En que situaciones puedo reclamarle alimentos a mi ex pareja?
      </button>
    </h2>
    <div id="elemento-11" class="accordion-collapse collapse" aria-labelledby="encabezado-11" data-bs-parent="#temario">
      <div class="accordion-body bg-light">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, praesentium animi. Ratione accusamus
          fugit saepe cupiditate omnis accusantium modi adipisci, sunt numquam expedita, ea deleniti aliquid et quas
          voluptatum iusto.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header" id="encabezado-12">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#elemento-12"
        aria-expanded="true" aria-controles="elemento-12">
        ¿Que beneficios tengo por registrar la convivencia con mi pareja? (anteriormente denominado concubinato)
      </button>
    </h2>
    <div id="elemento-12" class="accordion-collapse collapse" aria-labelledby="encabezado-12" data-bs-parent="#temario">
      <div class="accordion-body bg-light">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, praesentium animi. Ratione accusamus
          fugit saepe cupiditate omnis accusantium modi adipisci, sunt numquam expedita, ea deleniti aliquid et quas
          voluptatum iusto.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header" id="encabezado-13">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#elemento-13"
        aria-expanded="true" aria-controles="elemento-13">
        Al casarme, ¿como proteger mi patrimonio contra futuras reclamaciones de mi pareja?
      </button>
    </h2>
    <div id="elemento-13" class="accordion-collapse collapse" aria-labelledby="encabezado-13" data-bs-parent="#temario">
      <div class="accordion-body bg-light">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, praesentium animi. Ratione accusamus
          fugit saepe cupiditate omnis accusantium modi adipisci, sunt numquam expedita, ea deleniti aliquid et quas
          voluptatum iusto.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header" id="encabezado-14">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#elemento-14"
        aria-expanded="true" aria-controles="elemento-14">
        Mi ex/pareja es violento conmigo, ¿que puedo hacer?
      </button>
    </h2>
    <div id="elemento-14" class="accordion-collapse collapse" aria-labelledby="encabezado-14" data-bs-parent="#temario">
      <div class="accordion-body bg-light">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, praesentium animi. Ratione accusamus
          fugit saepe cupiditate omnis accusantium modi adipisci, sunt numquam expedita, ea deleniti aliquid et quas
          voluptatum iusto.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item shadow-lg">
    <h2 class="accordion-header" id="encabezado-15">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#elemento-15"
        aria-expanded="true" aria-controles="elemento-15">
        Mi ex pareja quiere sacarme la tenencia de mis hijos, ¿Que puedo hacer?
      </button>
    </h2>
    <div id="elemento-15" class="accordion-collapse collapse" aria-labelledby="encabezado-15" data-bs-parent="#temario">
      <div class="accordion-body bg-light">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, praesentium animi. Ratione accusamus
          fugit saepe cupiditate omnis accusantium modi adipisci, sunt numquam expedita, ea deleniti aliquid et quas
          voluptatum iusto.</p>
      </div>
    </div>
  </div>

</div>


