<div class="row">
    <!-- Card 1 -->
    <div class="col">
        <!-- Card 1 -->
        <div class="card mb-4" style="min-width: 250px;">
            <div class="card-header">
                <h4 class="my-0 text-center">Desktop Apps</h4>
            </div>
            <div class="card-body text-center">
                <ul class="my-3 list-unstyled">
                    <li>Acceso sin conexión <i class="bi bi-check2-all text-success"></i></li>
                    <li>Personalizable 100% <i class="bi bi-check2-all text-success"></i></li>
                    <li>Mayor rendimiento y velocidad <i class="bi bi-check2-all text-success"></i></li>
                    <li>Funcionalidades avanzadas <i class="bi bi-check2-all text-success"></i></li>
                    <li>Integración con el sistema operativo <i class="bi bi-check2-all text-success"></i></li>
                    <li>Seguridad robusta <i class="bi bi-check2-all text-success"></i></li>
                </ul>
                <button class="btn btn-primary btn-lg btn-block Animation-active"
                    (click)="nuevaConsulta('aplicaciones de escritorio.')">Consultar</button>
            </div>
        </div>
    </div>
    <!-- Card 2 -->
    <div class="col">
        <!-- Card 2 -->
        <div class="card mb-4" style="min-width: 250px;">
            <div class="card-header">
                <h4 class="my-0 text-center">Web Apps</h4>
            </div>
            <div class="card-body text-center">
                <ul class="my-3 list-unstyled">
                    <li>Acceso desde cualquier lugar <i class="bi bi-check2-all text-success"></i></li>
                    <li>No requiere instalación <i class="bi bi-check2-all text-success"></i></li>
                    <li>Actualizaciones automáticas <i class="bi bi-check2-all text-success"></i></li>
                    <li>Compatibilidad multiplataforma <i class="bi bi-check2-all text-success"></i></li>
                    <li>Menor consumo de recursos <i class="bi bi-check2-all text-success"></i></li>
                </ul>
                <button class="btn btn-primary btn-lg btn-block Animation-active"
                    (click)="nuevaConsulta('aplicaciones web.')">Consultar</button>
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="col">
        <!-- Card 3 -->
        <div class="card mb-4" style="min-width:250px;">
            <div class="card-header">
                <h4 class="my-0 text-center">Integraciones</h4>
            </div>
            <div class="card-body text-center">
                <ul class="my-3 list-unstyled">
                    <li>Automatizaciones <i class="bi bi-check2-all text-success"></i></li>
                    <li>Diseño de aparatos conectados <i class="bi bi-check2-all text-success"></i></li>
                    <li>Soluciones electronicas/informaticas <i class="bi bi-check2-all text-success"></i></li>
                    <li>Funcionalidades inteligentes <i class="bi bi-check2-all text-success"></i></li>
                </ul>
                <button class="btn btn-primary btn-lg btn-block Animation-active"
                    (click)="nuevaConsulta('aplicaciones informaticas con integraciones.')">Consultar</button>
            </div>
        </div>
    </div>
</div>