.card {
  border: 1px solid #d4b500bb;
  background: transparent !important;
}

.card .card-header {
  border-bottom: 1px solid #d4b500bb;
  background: transparent !important;
}

.card .card-header .active {
  background: transparent !important;
  border: none;
  border-bottom: 2px solid #d4b500bb;
}

.card .card-header ul li a {
  border-radius: 0% !important;
  box-shadow: none;
  font-weight: bold;
  color: black !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
  transition: .2s all;
}

.card .card-header ul li:hover {
  filter: brightness(120%) !important;
}

.card .card-body p li::marker {
  color: #bb9f00d3;
}

p {
  font-weight: bold !important;
}
