<div class="col-12 mt-5">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item"><a href="#tab1" class="nav-link active" data-bs-toggle="tab">Civil</a></li>
                <li class="nav-item"><a href="#tab2" class="nav-link" data-bs-toggle="tab">Penal</a></li>
                <li class="nav-item"><a href="#tab3" class="nav-link" data-bs-toggle="tab">Laboral</a></li>
                <li class="nav-item"><a href="#tab4" class="nav-link" data-bs-toggle="tab">Comercial</a></li>
                <li class="nav-item"><a href="#tab5" class="nav-link" data-bs-toggle="tab">Administrativo</a></li>
                <li class="nav-item"><a href="#tab6" class="nav-link" data-bs-toggle="tab">Tributario</a></li>
                <li class="nav-item"><a href="#tab7" class="nav-link" data-bs-toggle="tab">Familia</a></li>
                <li class="nav-item"><a href="#tab8" class="nav-link" data-bs-toggle="tab">Internacional</a></li>
                <li class="nav-item"><a href="#tab9" class="nav-link" data-bs-toggle="tab">Constitucional</a></li>
                <li class="nav-item"><a href="#tab10" class="nav-link" data-bs-toggle="tab">Ambiental</a></li>
                <li class="nav-item"><a href="#tab11" class="nav-link" data-bs-toggle="tab">Salud</a></li>
                <li class="nav-item"><a href="#tab12" class="nav-link" data-bs-toggle="tab">Tecnología e Información</a></li>
                <li class="nav-item"><a href="#tab13" class="nav-link" data-bs-toggle="tab">Propiedad Intelectual</a></li>
                <li class="nav-item"><a href="#tab14" class="nav-link" data-bs-toggle="tab">Energía</a></li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div id="tab1" class="tab-pane fade show active">
                    <p class="pt-3">Se ocupa de las relaciones y conflictos entre personas, tanto físicas como
                        jurídicas, en temas como contratos, responsabilidad civil, propiedad, sucesiones, divorcio,
                        entre otros.</p>
                </div>
                <div id="tab2" class="tab-pane fade">
                    <p class="pt-3">Se enfoca en los delitos y las sanciones penales. Los abogados penales representan a
                        acusados o víctimas en casos de robos, homicidios, estafas, violencia doméstica, narcotráfico y
                        otros delitos.</p>
                </div>
                <div id="tab3" class="tab-pane fade">
                    <p class="pt-3">Se centra en las relaciones entre empleadores y empleados, abarcando cuestiones como
                        contratos laborales, despidos injustificados, discriminación, acoso laboral, negociaciones
                        colectivas y seguridad social.</p>
                </div>
                <div id="tab4" class="tab-pane fade">
                    <p class="pt-3">Se ocupa de las transacciones comerciales y empresariales, incluyendo contratos
                        comerciales, derecho de sociedades, quiebras, fusiones y adquisiciones, propiedad intelectual y
                        competencia desleal.</p>
                </div>
                <div id="tab5" class="tab-pane fade">
                    <p class="pt-3">Se refiere al conjunto de normas que regulan la actuación de los órganos y entidades
                        del Estado. Los abogados en esta área pueden asesorar y representar a personas físicas o
                        jurídicas en casos de impugnación de actos administrativos, contratación pública, licitaciones,
                        entre otros.</p>
                </div>
                <div id="tab6" class="tab-pane fade">
                    <p class="pt-3">Se relaciona con las leyes fiscales y la relación entre el Estado y los
                        contribuyentes. Los abogados tributarios pueden asesorar sobre impuestos, representar a personas
                        o empresas en auditorías fiscales, litigios y reclamaciones ante organismos tributarios.</p>
                </div>
                <div id="tab7" class="tab-pane fade">
                    <p class="pt-3">Se encarga de los asuntos relacionados con el matrimonio, divorcio, custodia de
                        hijos, adopciones, alimentos, filiación, entre otros temas familiares.</p>
                </div>
                <div id="tab8" class="tab-pane fade">
                    <p class="pt-3">Se ocupa de los asuntos legales que involucran a diferentes países, como tratados
                        internacionales, inmigración, extradición, arbitraje internacional y derecho humanitario.</p>
                </div>
                <div id="tab9" class="tab-pane fade">
                    <p class="pt-3">Se ocupa de la interpretación y aplicación de la Constitución Nacional, así como de
                        los derechos y garantías individuales. Los abogados constitucionalistas pueden representar a
                        personas o entidades en casos de violación de derechos constitucionales, amparos, acciones de
                        inconstitucionalidad, entre otros.</p>
                </div>
                <div id="tab10" class="tab-pane fade">
                    <p class="pt-3">Se enfoca en la protección y conservación del medio ambiente. Los abogados
                        ambientalistas pueden asesorar sobre regulaciones ambientales, representar a comunidades
                        afectadas por daños ambientales, litigar en casos de contaminación o daño ecológico y promover
                        el desarrollo sostenible.</p>
                </div>
                <div id="tab11" class="tab-pane fade">
                    <p class="pt-3">Se relaciona con las cuestiones legales en el ámbito de la salud, incluyendo
                        regulaciones sanitarias, derechos de los pacientes, responsabilidad médica, bioética,
                        legislación farmacéutica y seguros de salud.</p>
                </div>
                <div id="tab12" class="tab-pane fade">
                    <p class="pt-3">Se centra en las leyes que rigen la tecnología, la informática, la protección de
                        datos personales, el comercio electrónico y los delitos informáticos. Los abogados
                        especializados en este campo pueden asesorar sobre contratos de tecnología, protección de la
                        propiedad intelectual, ciberseguridad y privacidad en línea.</p>
                </div>
                <div id="tab13" class="tab-pane fade">
                    <p class="pt-3">Se refiere a la protección legal de las creaciones intelectuales, como patentes,
                        marcas registradas, derechos de autor y diseños industriales. Los abogados de propiedad
                        intelectual pueden ayudar a registrar y proteger los derechos de propiedad intelectual, así como
                        a hacer valerlos en casos de infracción.</p>
                </div>
                <div id="tab14" class="tab-pane fade">
                    <p class="pt-3">Se ocupa de las regulaciones y disputas relacionadas con el sector energético. Los
                        abogados especializados en derecho energético pueden asesorar sobre contratos de energía,
                        regulaciones ambientales, proyectos de energías renovables y litigios en el sector energético.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>