<div *ngIf="mostrarHorario" class="toast-container position-fixed top-0 end-0 p-2">
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Horarios de atencion</strong>
            <!-- <small>hace 1 minuto</small> -->
            <button type="button" class="btn-close" aria-label="Close" (click)="cerrarToast()"></button>
        </div>
        <div class="toast-body text-center">
            {{horarioInicio1}} hs. - {{horarioFin1}} hs. <br>
            {{horarioInicio2}} hs. - {{horarioFin2}} hs.
        </div>
    </div>
</div>

<!-- position-fixed top-0 end-0 p-2 -->