.float-button {
  cursor: pointer;
  transition: all .2s;
  z-index: 9999;
}

.float-button:hover {
  transform: scale(120%);
  filter: brightness(120%);
}

.float-button:hover svg {
  /*   fill: #25D366; */
  fill: #09ae45;
}