<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h1 class="navbar-brand">ECA</h1>

    <button class="navbar-toggler Animation-active" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu"
     aria-label="Mostrar / Ocultar Menu" [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu" [ngClass]="{'show': !isCollapsed}">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 Animation">
        <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/areas" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Areas</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/faq" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">FAQ</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/informatica" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Informática</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contacto" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>