.container {
  min-height: 100vh;
}

.container h1 {
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
}

.container p {
  font-weight: bold;
}

.btn {
  border: 1px solid #3200d7ce;
  color: #3200d7ce;
  font-size: bold;
  background: transparent;
}

.btn:hover {
  color: white;
  background: #3200d7ce;
}