<div class="container">
  <div class="row my-5 d-flex justify-content-center text-center">
    <div class="col-8">
      <h1 class="display-4">Desarrollo de aplicaciones</h1>
      <p class="lead">Tenemos un servicio de desarrollo a medida de aplicaciones web y de escritorio para su empresa o
        emprendimiento, consulte por su idea, estimación de tiempos de desarrollo, y costos.</p>
    </div>
    <div>
      <button class="btn Animation-active btn-lg btn-block" (click)="nuevaConsulta('aplicaciones.')">Quiero
        saber mas</button>
    </div>
  </div>

  <div class="border-left" style="height: 0px;"></div>
</div>