<main class="container">
  <div class="row my-5 d-flex justify-content-center">
    <div class="col-8 text-center">
      <h1 class="display-4">Desarrollo de aplicaciones</h1>
      <p class="lead">Tenemos un servicio de desarrollo a medida de aplicaciones web y de escritorio para su empresa o
        emprendimiento, consulte por su idea, estimación de tiempos de desarrollo, y costos.</p>
    </div>
  </div>
  <div class="row">
    <!-- Card 1 -->
    <div class="col">
      <!-- Card 1 -->
      <div class="card mb-4" style="min-width: 250px;">
        <div class="card-header">
          <h4 class="my-0 text-center">Desktop Apps / Escritorio</h4>
        </div>
        <div class="card-body text-center">
          <ul class="my-3 list-unstyled">
            <li>Acceso sin conexión <i class="bi bi-check2-all"></i></li>
            <li>Personalizable 100% <i class="bi bi-check2-all"></i></li>
            <li>Mayor rendimiento y velocidad <i class="bi bi-check2-all"></i></li>
            <li>Funcionalidades avanzadas <i class="bi bi-check2-all"></i></li>
            <li>Integración con el sistema operativo <i class="bi bi-check2-all"></i></li>
            <li>Seguridad robusta <i class="bi bi-check2-all"></i></li>
          </ul>
          <button class="btn Animation-active btn-lg btn-block"
            (click)="nuevaConsulta('aplicaciones de escritorio.')">Me
            interesa</button>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col">
      <!-- Card 2 -->
      <div class="card mb-4" style="min-width: 250px;">
        <div class="card-header">
          <h4 class="my-0 text-center">Web Apps / Páginas</h4>
        </div>
        <div class="card-body text-center">
          <ul class="my-3 list-unstyled">
            <li>Acceso desde cualquier lugar <i class="bi bi-check2-all"></i></li>
            <li>No requiere instalación <i class="bi bi-check2-all"></i></li>
            <li>Actualizaciones automáticas <i class="bi bi-check2-all"></i></li>
            <li>Compatibilidad multiplataforma <i class="bi bi-check2-all"></i></li>
            <li>Menor consumo de recursos <i class="bi bi-check2-all"></i></li>
          </ul>
          <button class="btn btn-lg btn-block Animation-active" (click)="nuevaConsulta('aplicaciones web.')">Me
            interesa</button>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col">
      <!-- Card 3 -->
      <div class="card mb-4" style="min-width:250px;">
        <div class="card-header">
          <h4 class="my-0 text-center">Integraciones / Electrónicas</h4>
        </div>
        <div class="card-body text-center">
          <ul class="my-3 list-unstyled">
            <li>Automatizaciones <i class="bi bi-check2-all"></i></li>
            <li>Diseño de aparatos conectados <i class="bi bi-check2-all"></i></li>
            <li>Soluciones electronicas/informaticas <i class="bi bi-check2-all"></i></li>
            <li>Funcionalidades inteligentes <i class="bi bi-check2-all"></i></li>
          </ul>
          <button class="btn btn-lg btn-block Animation-active"
            (click)="nuevaConsulta('aplicaciones informaticas con integraciones.')">Me interesa</button>
        </div>
      </div>
    </div>
  </div>

  <div class="border-left" style="height: 10px;"></div>
</main>