form {
    border: 1px solid #d4b500bb;
    background: transparent;
}

.input-group input {
    background: transparent;
    border: 2px solid #d4b500bb;
}

.input-group input::placeholder {
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

.input-group button {
    color: black;
    background: #d4b500bb;
    border: 1px solid #d4b500bb;
    font-weight: bold;
    z-index: 0;
}

.input-group .form-control {
    font-weight: bold;
}