.general {
    min-height: 100vh;
}

.general {
    background-image: linear-gradient(to bottom, #ffffff75, #c4c4c475, #b3b3b375, #ffffff75);
    background-size: 200% 200%;
    animation: moveBackground 6s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0 0;
    }
}