.general {
    min-height: 100vh;
}

.general {
    /* background-image: linear-gradient(to bottom, #ffffff75, #c4c4c475, #91919175, #c4c4c475); */
    /*     background-image: linear-gradient(to bottom, #5f5100bb, #928b66bb, #d3bf5ebb); */
    /*     background-image: linear-gradient(to bottom, #5f5100bb, #4d430dbb, #7e6e17bb); */
    background-image: linear-gradient(to bottom, #8d780027, #c2a5006c, #8d780046);
    background-size: 200% 200%;
    animation: moveBackground 3s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0 0;
    }
}

/* #8d780027, #8d7800a7, #c2a5006c */

.loaded .loading-screen {
    pointer-events: none;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: all 1s ease-in-out;
    opacity: .9;
}

.exitBack {
    opacity: 0;
}

.exit {
    display: none;
}

.content {
    opacity: 1;
    transition: all 1.2s ease-in-out;
}

.loaded .content {
    opacity: 0;
    transform: scale(500%);
}