<section class="bg-light general">
    <section>
        <header>
            <app-nav></app-nav>
            <app-aviso-fuera-de-horario></app-aviso-fuera-de-horario>
            <app-mensaje-usuario></app-mensaje-usuario>
        </header>
    </section>

    <section>
        <router-outlet></router-outlet>
        <div class="fixed-bottom d-flex flex-column align-items-end p-3">
            <app-whatsapp-btn class="mb-2"></app-whatsapp-btn>
            <app-instagram-btn class="me-1"></app-instagram-btn>
        </div>
    </section>

    <section>
        <div class="border-left" style="height: 50px;"></div>
        <app-footer></app-footer>
    </section>
</section>

