<div class="container">
    <div class="row">
        <div class="col mt-4 text-center">
            <!-- <h2>Áreas</h2> -->
           <!--  <p class="lead">Nuestros servicios legales</p> -->
         <!--   <h2>Servicios Legales</h2> -->
           <h2 class="py-2 text-bg-dark rounded-4 overflow-hidden">Servicios Legales</h2>
        </div>
        <app-card-tab-areas></app-card-tab-areas>
        <app-enviar-whatsapp></app-enviar-whatsapp>
    </div>
</div>
<div class="border-left" style="height: 150px;"></div>
