.container {
  min-height: 100vh !important;
}

.container h2 {
  font-weight: bold;
  color: #ffd900bb !important;
  filter: brightness(105%);
  box-shadow: 2px 4px 10px black !important;
}

.card {
  border: 1px solid #d4b500bb;
  background: transparent !important;
}

.card .card-header {
  border-bottom: 1px solid #d4b500bb;
  background: transparent !important;
}

.card .card-header .active {
  background: transparent !important;
  border-bottom: 2px solid #d4b400ea !important;
}

.card .card-header ul li a {
  border-radius: 0% !important;
  border: none;
  box-shadow: none;
  font-weight: bold;
  color: black !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  transition: .2s all;
}

.card .card-body p li::marker {
  color: #bb9f00d3;
}

p {
  font-weight: bold !important;
}

h4 {
  color: black;
  transition: color 0.3s;
}

h4:hover {
  color: #343434;
  cursor: auto;
  text-decoration: underline;
}