.container {
  min-height: 100vh !important;
}

.col h2 {
  color: #d4b500bb !important;
}

.container .row .col h2 {
  color: #d4b500bb;
  font-weight: bold !important;
  filter: brightness(150%);
}

.container .row .col p {
  color: #d4b500bb;
  font-weight: 600;
}