<div class="container text-center">
  <!--   <h2 class="my-2">Mapa de ubicación</h2> -->
  <h2 class="my-3 py-2 text-bg-dark rounded-4 overflow-hidden"><i class="bi bi-geo"></i> Mapa de ubicación</h2>

  <div class="row mx-1">
    <div class="col-md-12 mb-4">
      <div class="card card-cascade wider reverse">
        <div class="view">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d580.5886145253813!2d-60.94624609325518!3d-34.596443931427444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b8eb77ddd35dad%3A0xf9a7b53ea2c9c878!2sEstudio%20Juridico%20Caviglia%20y%20Asociados!5e0!3m2!1ses-419!2sar!4v1690067245902!5m2!1ses-419!2sar"
            class="card-img-top" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <a href="#!">
            <div class="mask rgba-white-slight waves-effect waves-light"></div>
          </a>
        </div>
        <div class="card-body card-body-cascade text-center">
          <h4 class="card-title"><i class="bi bi-buildings"></i> Oficinas</h4>

          <div class="card-text">
            <p>Nos encontramos en calle Roque Vázquez 73, Junín, Buenos Aies</p>

            <div class="text-center" style="list-style: none;">
              <p>
                <li class="celu">+54 2364 643542</li>
                <li class="celu">+54 2364 658333</li>
              </p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>