<div class="container">
    <h2>Mapa de ubicación</h2>
   
    <div class="row mx-1">
      <div class="col-md-12 mb-4">
        <div class="card card-cascade wider reverse">
          <div class="view view-cascade overlay">
            <iframe class="card-img-top" src="https://www.google.com/maps?q=Roque%20Vazquez%2073,%20B6000%20Junín,%20Provincia%20de%20Buenos%20Aires&output=embed" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            <a href="#!">
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
          </div>
          <div class="card-body card-body-cascade text-center">
            <h4 class="card-title"><strong>My adventure</strong></h4>
            <h6 class="font-weight-bold indigo-text py-2">Photography</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perspiciatis
              voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat
              laborum ut beatae ullam suscipit veniam.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  


   
