<header>
    <nav class="navbar">
      <ul class="nav-menu">
        <li class="nav-item"><a class="nav-link" routerLink="/inicio">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/servicios">Servicios</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/preguntas-frecuentes">Preguntas frecuentes</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/casos-exito">Casos de éxito</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contacto">Contacto</a></li>
      </ul>
    </nav>
  </header>