.float-button {
  cursor: pointer !important;
  transition: all .2s !important;
}

.float-button:hover {
  cursor: pointer !important;
  transform: scale(120%);
  filter: brightness(120%);
}

.float-button:hover svg {
  fill: url(#gradient);
}