@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ysabeau+SC:wght@600&display=swap');

/* No permitir seleccionar texto para todos los navegadores */
* {
  user-select: none;
}

/* Para Safari */
*::selection {
  background-color: transparent;
}

/* Para Firefox */
*::-moz-selection {
  background-color: transparent;
}

@keyframes btnAnimation {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(.8);
  }

  100% {
    transform: scale(1);
  }
}

* {
  font-family: 'Roboto', sans-serif !important;
}

.Animation-active:active {
  animation: btnAnimation .7s;
}

.Animation {
  animation: btnAnimation .5s;
}

.goldColor {
  color: #ffd900bb;
  /* #FFD700 */
}


.fondo {
  background-color: #ccc;
  /* background-image: linear-gradient(to bottom, #8d780027, #c2a5006c, #8d780046);
  background-size: 200% 200%;
  animation: moveBackground 3s linear infinite; */
}

/*
@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0 0;
  }
} */