@import '~bootstrap/dist/css/bootstrap.min.css';

@keyframes btnAnimation {
    0% {
      transform: scale(1);
    }
  
    20% {
      transform: scale(.8);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  .Animation-active:active {
    animation: btnAnimation .7s;
  }
  
  .Animation {
    animation: btnAnimation .5s;
  }

  .goldColor {
    color: #ffd900bb; /* #FFD700 */
  }